# Variables de entorno para la aplicación

# === Configuración General de la Aplicación ===
APP_TITLE="PDF-EXTRACTEXT API"
APP_HOST=0.0.0.0
APP_PORT=8000

# === Configuración de Subida de Archivos ===
MAX_FILE_SIZE_MB=50
ALLOWED_FILE_EXTENSION=.pdf

# === Configuración de MongoDB ===
MONGO_URI=mongodb://db:27017/
MONGO_DATABASE_NAME=pdf_db
MONGO_COLLECTION_NAME=pdfs
